body {
  padding: 15px;
  font-family: Monaco;
  background-color: #f8f8f4;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 20px;
}

.box {
  background-color: #fff;
  color: #000;
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;
  border: 2px solid black;
}

.header-box {
  display: flex;
  background-color: #f8f8f4;
  color: #000;
  border-radius: 3px;
  padding: 15px;
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: 1.2vw;
  grid-column-start: 1;
  grid-column-end: 4;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.header-logo {
  display: flex;
  background-color: #fb944c;
  color: #fff;
  border-radius: 10px;
  border: 2px solid black;
  padding: 30px;
  font-size: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 20%;
  justify-content: center;
  font-size: 4vw;
  z-index: 2;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.header {
  padding: 5px;
  text-align: center;
  background: #f8f8f4;
  color: #ff904d;
  font-size: 12px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button {
  border-radius: 10px;
  color: white;
  background-color: #ff904d;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-family: Monaco;
}

.button.active {
  background-color: #d16f2a;
}


hr.black-border {
  border-top: 2px solid black;
}


.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 2px solid black;
  border-radius: 10px 0 0 10px;
  float: left;
  width: 80%;
  background: #fff;
  padding: 6px;
  font-family: Monaco;
}


.search button[type=button] {
  width: 20%;
  padding: 10px;
  background: #fb944c;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  height: 50px;
  border: 2px solid black;
  border-left: none;
}

.search button:active {
  background: #d16f2a;
}

.filter-btn {
  padding: 5px;
  background: transparent;
  color: black;
  font-size: 12px;
  cursor: pointer;
  border-radius: 10px;
  font-family: Monaco;
  border: 1px solid black;
  transition: all 0.3s;
}

.filter-btn.active {
  padding: 5px;
  background: #fb944c;
  color: white;
  font-size: 12px;
  cursor: pointer;
  border-radius: 10px;
  font-family: Monaco;
  border: 1px solid black;
}

.filter-btn.active .fa-times {
    display: inline;
}

.filter-btn .fa-times {
    display: none;
}


.type-filter {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  width: 85%;
  flex-wrap: wrap;
}

.warning {
  background-color: #e0bbb8;
  border-radius: 5px;
  color: black;
  padding: 5px;
  display: none;
}


.item-box {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 20px;
  font-size: 14px;
  border: 2px solid black;
  display: none;
}

.item-box img {
  height: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.show-item {
  display: block;
}
