<!-- for this, you can keep the same framework of the page for editing and creating new, 
just need to send a specific thign saying oh this is new or this is the obj being editted
 -->

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/styles.css">
    <title>Poverello Inventory</title>
</head>

<body>

<div class="wrapper top-nav">
  <div class="header-box">
    <div class="left-text">Inventory</div>
    <div class="right-text">Food Pantry</div>
  </div>
  <div class="header-logo">Poverello</div>
</div>

<br>
<form class="logout" action="javascript:changePage('login')" style="display: block; text-align: right;">
  <button class="button">Logout</button>
</form>
<br>

<div class="item-page" style="display: flex;">
    <div class="item-info" style="flex:1; padding: 20px">
        <h1 id="item-name" contenteditable="true">Item Name</h1>
        <br>
        <select id="item-type" class="minimal dropdown">
            <option>Clothes</option>
            <option>Furniture</option>
            <option>Other</option>
            <option>New</option>
        </select>
        <select id="item-size" class="minimal dropdown">
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL+</option>
        </select>
        <br><br>
        <hr class="black-border">
<!--        add all the stock stuff-->
        <h2>Price: </h2><span class="edit-border" id="item-price" style="font-size: 120%;" contenteditable="true"></span>
        <br>
        <h2>Details: </h2><p class="edit-border" id="item-details" contenteditable="true"></p>
        <br>
        <h3>Categories: </h3> <p class="edit-border" id="item-categories" contenteditable="true"></p>
        <form class="save_info" action="javascript:saveChanges()">
            <button class="button" style="float: right">
                Save Changes
                <i class="clickable fa fa-save" style="margin-left: 5px;"></i>
                </button>
        </form>
    </div>
    <div style="flex:1;">
        <div class="item-image" id="item-slides-container"></div>
        <div class="slide-scroll" style="display: flex; justify-content: center; margin-top: 10px; align-items: center;">
            <button class="button" style="background: transparent; color: black" onclick="plusDivs(-1)">&#10094;</button>
            <p style="margin: 10px"><span id="slide-num"></span> out of <span id="total-slides"></span></p>
            <button class="button" style="background: transparent; color: black" onclick="plusDivs(+1)">&#10095;</button>
        </div>
    </div>
<!--    div for stock, have numerical input as well as minus and add by a certain amount (not sure how to format that)-->
<!--    also add stock to item page?? idk how i forgot that  -->
<!--    fix stuff for new category, like have a field open up if you pick new -->
<!--    saving! split tags on ", " and json dump or wtv i forgot -->
    <script src="static/js/edit.js"></script>
    <script src="static/js/script.js"></script>
</div>
