<!-- NEEDS TO BE CLEANED UP- THIS IS JUST THE BASE -->


<!--Known issues:
- issues with scaling item boxes, esp when there are only a few items like 1 item makes the box super big
- issues w the header n different viewport sizes
- Also no logout yet -->

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/styles.css">
  <title>Poverello Inventory</title>
</head>

<body>

<div class="wrapper top-nav">
  <div class="header-box">
    <div class="left-text">Inventory</div>
    <div class="right-text">Food Pantry</div>
  </div>
  <div class="header-logo">Poverello</div>
</div>

<br>
<form class="logout" action="javascript:changePage('login'); logoutUser()" style="display: block; text-align: right;">
  <button class="button">Logout</button>
</form>
<br>

<div class="wrapper body">
  <h1 style="text-align: center; padding-bottom: 0; grid-column-start: 1; grid-column-end: 4;">Admin Inventory</h1>

  <div class="search-container" style="display: flex; align-items: center; grid-column-start: 1; grid-column-end: 4">
    <div class="search" style="display: flex; width: 80%;">
      <input type="text" autocomplete="on" id="searchbar" placeholder="Search.." name="search box">
      <button type="button" onclick="lookUp()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <br>
  <form class="create-new" action="create_new.php" style="display: flex; grid-column-start: 1; grid-column-end: 2">
    <button class="button">Create New Item<i class="fa fa-plus" style="margin-left: 10px;"></i></button>
  </form>

  <div class="items-n-filters" style="grid-column-start: 1; grid-column-end: 4; display: flex">

    <div class="filters side-nav" style="flex:1;">
      <div class="box filters" style="background: transparent; border: none;">
        <h2>
          Filters
        </h2>
        <hr class="black-border">
        <br>
        <br>
        <div class="wrapper filters" style="grid-template-columns: repeat(1, minmax(200px, 1fr))">
          <div class="filter-type-div">
            <h3>Type:</h3>
            <br>
            <div class="type-filter">
              <button class="filter-btn clothes" onclick="activateButton(this);filterSelection('clothes')">Clothes
              <i class="fa fa-times" style="margin-left: 5px;"></i></button>
              <button class="filter-btn furniture" onclick="activateButton(this);filterSelection('furniture')">Furniture
              <i class="fa fa-times" style="margin-left: 5px;"></i></button>
              <button class="filter-btn other" onclick="activateButton(this);filterSelection('other')">Other
              <i class="fa fa-times" style="margin-left: 5px;"></i></button>
            </div>
          </div>

          <div class="filter-size-div">
            <h3>
              Size:
            </h3>
            <br>
            <div class="size wrapper" style="grid-template-columns: repeat(2, minmax(50px, 1fr)); grid-gap: 10px; width: 85%">
              <button class="filter-btn small" onclick="activateButton(this); filterSize('sz-s')">
              S
              </button>
              <button class="filter-btn med" onclick="activateButton(this); filterSize('sz-m')">
              M
              </button>
              <button class="filter-btn large" onclick="activateButton(this); filterSize('sz-l')">
              L
              </button>
              <button class="filter-btn xlarge" onclick="activateButton(this); filterSize('sz-xl')">
              XL+
              </button>
            </div>
          </div>

          <div class="wrapper filter-price" style="grid-template-columns: repeat(1, minmax(200px, 1fr))">
            <h3>Price Range:</h3>
            <div class="price-input">
              <div class="price-field" style="grid-template-columns: repeat(2, minmax(200px, 1fr))">
                <input type="number"
                       id="min-input"
                       value="00.00"
                       style="width: 30%;
                       font-family: Monaco;
                       font-size: 120%"
                       step="0.01">
                <span>-</span>
                <input
                       type="number"
                       id="max-input"
                       value="00.00"
                       style="width: 30%;
                       font-family: Monaco;
                       font-size: 120%"
                       step="00.01">
                <button class="button" onclick="priceSelection()"><i class="fa fa-check"></i></button>
               <p class="warning" id="price-warning">
                 Warning: the minimum must be lower than the maximum!
               </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper items" id="items box" style="grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); flex:2.5"></div>
  </div>

  <script src="static/js/script.js"></script>
  <script src="static/js/inventory.js"></script>

</div>

</body>
</html>

